footer
    background #000
    padding 25px 0
    text-align center
    p
        margin 0
        lato 10
        color #fff
        a:hover
            text-decoration underline
        +mobile()
            span
                display block
                font-size 0
