.center
    clearfix()

.wrapper
    display flex
    +above($tablet)
        min-height 600px
    +below($tablet)
        display block

aside
    width 260px
    background $cinzaBg
    position relative
    padding 25px 0
    +below($tablet)
        display none
    &:before
        content ''
        position absolute
        right 260px
        top 0
        width 2000px
        height 100%
        background $cinzaBg
        z-index -1
    > img
        display block
        margin-bottom 50px

nav
    > a
        display block
        century 12
        + a
            margin-top 12px
        &.active
            lato 12 bold
    .social
        font-size 0
        margin-top 25px
        a
            display inline-block
            + a
                margin-left 12px
            img
                display block


main
    width calc('100% - 310px')
    margin-left auto
    padding 50px 0
    +below($tablet)
        width 100%
        margin 0
    +tablet()
        padding 40px 0
    +mobile()
        padding 30px 0
    h1
        century 32
        margin 0 0 50px
        +tablet()
            font-size 28px
            margin-bottom 40px
        +mobile()
            font-size 24px
            margin-bottom 30px

.not-found
    text-align center
    padding-top 90px
    +tablet()
        padding 160px 0
    +mobile()
        padding 100px 0
    h1
        display inline-block
        border 2px solid #000
        padding 12px 24px
        lato 12
        letter-spacing 1px
        text-transform uppercase

.mobile
    display none
    background $cinzaBg
    padding 20px 0
    +below($tablet)
        display block
    img
        float left
    #mobile-toggle
        display block
        background-color transparent
        border 0
        position absolute
        right 0
        top 25px
        height 28px
        width 28px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background #000
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background #000
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    nav
        float left
        width 100%
        display none
        text-align right
