desktop-base-width     = 1180px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$cinzaBg = #FAFAFA

@import url('https://fonts.googleapis.com/css?family=Lato:400,700')

@font-face
    font-family 'Century Gothic'
    src url('../fonts/century_gothic-webfont.woff2') format('woff2'),
        url('../fonts/century_gothic-webfont.woff') format('woff')
    font-weight normal
    font-style normal

lato($size, $weight = normal)
    font-size $size + 0px
    font-family 'Lato', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700

century($size)
    font-size $size + 0px
    font-family 'Century Gothic', 'Lato', 'Helvetica', 'Arial', sans-serif
    font-weight normal
