.antes-e-depois
    clearfix()
    > div
        display flex
        flex-wrap wrap
        justify-content space-between
    .thumb
        display block
        margin-bottom 6px
        .popup-content
            display none
        &.thumb-horizontal
            width 100%
        &.thumb-vertical
            width calc('50% - 3px')
        > div
            position relative
            width calc('50% - 1.5px')
            margin-right 3px
            float left
            img
                display block
                width 100%
            &:last-child
                margin-right 0
            .overlay
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background rgba(#fff, .7)
                display flex
                justify-content center
                align-items center
                opacity 0
                transition opacity .3s
                span
                    lato 12
                    color rgba(#000, .35)
        &:hover .overlay
            opacity 1


#popup-antes-e-depois
    position relative
    width 100%
    font-size 0
    clearfix()
    img
        width calc('50% - 10px')
        display block
        float left
        + img
            margin-left 20px
        +below($tablet)
            width calc('50% - 5px')
            + img
                margin-left 10px

