.contato
    clearfix()
    .info
        width 240px
        +mobile()
            width 100%
            margin-bottom 20px
        float left
        padding-right 35px
        img
            display block
            margin-top 30px
            &:first-child
                margin-top 0
        h2
            lato 18 bold
            margin 10px 0 6px
        p
            lato 14
            margin 0
    form
        width 410px
        +mobile()
            width 100%
        float left
        clearfix()
        input
        textarea
            width 100%
            display block
            border 1px solid #000
            border-radius 4px
            lato 12
            color #000
            padding 10px
            height 32px
            margin-bottom 7px
            outline 0
            float left
            background #fff
        textarea
            height 200px
            resize none
        input[type=submit]
            width auto
            height auto
            float right
            padding 10px 35px
            lato 16 bold
            color #000
            transition background .3s, color .3s
            cursor pointer
            &:hover
                background #000
                color #fff
        #form-contato-response
            float left
            display none
            border-radius 4px
            width 100%
            background $cinzaBg
            padding 10px
            text-align center
            lato 11
            letter-spacing 1px
            text-transform uppercase
