.banners
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    .slide
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-size cover
        background-position center

.home
    clearfix()
    z-index 102
    height 100%
    +below($tablet)
        width 100%
    .entrar
        width 260px
        height 100%
        float left
        background rgba(#000, .6)
        position relative
        display flex
        align-items center
        +below($tablet)
            width 100%
            justify-content center
        &:before
            content ''
            position absolute
            right 260px
            height 100%
            width 2000px
            background rgba(#000, .6)
            +below($tablet)
                display none
        a
            display block
            text-align center
            width 200px
            img
                display inline-block
            span
                display inline-block
                margin-top 40px
                lato 12
                color #fff
                position relative
                &:after
                    content ''
                    position absolute
                    bottom -3px
                    left 0
                    width 0
                    height 1px
                    background rgba(#fff, .6)
                    transition all .3s
            &:hover span:after
                width 100%
