.nosso-trabalho
    .texto
        max-width 550px
        h2
            lato 18 bold
            margin 0 0 1em
        p
            lato 14
            margin 0
            + p
                margin-top 1em
            + h2
                margin-top 2em
    .areas
        margin 50px 0
        width 100%
        max-width 670px
        background $cinzaBg
        border-radius 5px
        padding 15px
        display flex
        justify-content space-around
        +mobile()
            flex-wrap wrap
            margin 35px 0
        > div
            display inline-block
            text-align center
            lato 12
            +mobile()
                width 50%
                &:nth-child(3)
                &:nth-child(4)
                    margin-top 20px
            .imagem
                height 60px
                display block
                img
                    display block
                    margin 0 auto
