.projetos
    .thumb
        display block
        width 100%
        position relative
        + .thumb
            margin-top 2px
            +mobile()
                margin-top 5px
        clearfix()
        .texto
            width 370px
            height auto
            min-height 350px
            float right
            display flex
            flex-direction column
            justify-content space-between
            padding 45px
            color #fff
            background #959CA7
            +tablet()
                width 270px
                padding 30px
            +mobile()
                width 100%
                height auto
                min-height auto
                padding 20px
                display block
            h3
                lato 18 bold
                margin 0
            p
                display block
                lato 12
                margin 35px 0
                +tablet()
                    margin 25px 0
                +mobile()
                    margin 15px 0
            span
                display inline-block
                width 75px
                height 11px
                line-height 9px
                lato 12
                padding-right 12px
                background $img('seta.png') no-repeat center right
                transition width .3s
        .imagem
            position absolute
            left 0
            top 0
            width calc('100% - 370px')
            height 100%
            +tablet()
                width calc('100% - 270px')
            +mobile()
                position relative
                width 100%
                height auto
            &:after
                content ''
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background rgba(#fff, .5)
                opacity 0
                transition opacity .3s
            img
                display block
                width 100%
                height 100%
                object-fit cover
        &:nth-child(even)
            .imagem
                left auto
                right 0
            .texto
                float left
        &:nth-child(4n) .texto
            background #989898
        &:nth-child(4n-1) .texto
            background #978D8B
        &:nth-child(4n-2) .texto
            background #BBAEA1
        &:hover
            .imagem:after
                opacity 1
            .texto span
                width 82px
    > .texto
        max-width 550px
        h2
            lato 18 bold
            margin 0 0 1em
        p
            lato 14
            margin 0
    .imagens
        margin-top 50px
        .chunk
            clearfix()
            a
                display block
                float left
                position relative
                &:after
                    content ''
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background $img('ampliar.png') no-repeat center rgba(#fff, .5)
                    opacity 0
                    transition opacity .3s
                img
                    display block
                    width 100%
                &:hover:after
                    opacity 1
            > a
                &:nth-child(1)
                &:nth-child(2)
                &:nth-child(3)
                    width calc('33.333% - 2px')
                    margin-bottom 3px
                &:nth-child(1)
                &:nth-child(2)
                    margin-right 3px
                &:nth-child(5)
                    width calc('66.667% - 1px')
                    float right
            .group
                width calc('33.333% - 2px')
                float left
                margin-bottom 3px
                position relative
                a
                    width 100%
                    img
                        width 100%
                        height 100%
                        object-fit cover
                    + a
                        margin-top 3px

