.sobre
    img
        border-radius 5px
        margin-bottom 30px
        +mobile()
            margin-bottom 20px
    .texto
        max-width 550px
        p
            lato 14
            margin 0
            + p
                margin-top 1em
